<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="shortcut icon" href="./favicon.ico" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="msapplication-config" content="./img/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <link href="https://fonts.googleapis.com/css?family=Roboto|Montserrat:200,300,400,900|Merriweather" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <div class="header-table">
      <table>
        <tbody>
          <tr>
            <td><img class="header-logo" alt="logo" src="./img/Logo.png" /></td>
            <td class="header-title">
              <h1><strong>Layers</strong></h1>
            </td>
          </tr>
        </tbody>
      </table>
      <table>
        <tbody>
          <tr>
            <td>
              <a href="./index.html">Main</a><br />
              <a href="#HLYR1">1. WMS Layer</a><br />
              <a href="#HLYR2">2. XYZ Tiles Layer</a><br />
              <a href="#HLYR3">3. Esri Dynamic Service Layer</a><br />
              <a href="#HLYR4">4. Esri Feature Service Layer</a><br />
              <a href="#HLYR5">5. GeoJSON Layer</a><br />
              <a href="#HLYR6">6. WFS Layer</a><br />
              <a href="#HLYR7">7. OGC API Feature Layer</a><br />
              <a href="#HLYR8">8. GeoCore UUID Layer</a><br />
              <a href="#HLYR9">9. GeoPackage Layer</a>
            </td>
          </tr>
        </tbody>
      </table>
      <table>
        <tbody>
          <tr>
            <td>This page is used to showcase how the viewer may show different layer types</td>
          </tr>
        </tbody>
      </table>
    </div>

    <script src="codedoc.js"></script>
    <script>
      const createInfoTable = (mapId, resultSetsId, resultSets) => {
        var infoTable = document.getElementById(resultSetsId);
        infoTable.textContent = '';
        var oldContent = document.getElementById(`layer${mapId.slice(3)}-info`);
        if (oldContent) oldContent.remove();
        var content = document.createElement("div");
        content.id = `layer${mapId.slice(3)}-info`;
        infoTable.appendChild(content);
        Object.keys(resultSets).forEach((layerPath) => {
          const layerData = resultSets[layerPath];

          // Header of the layer
          infoH1 = document.createElement('h1');
          infoH1.innerText = layerData.length ? layerPath : `${layerPath} (empty)`;
          content.appendChild(infoH1);

          if (layerData.length) {
            infoH2 = document.createElement('h2');
            infoH2.innerText = 'Aliases and types';
            content.appendChild(infoH2);

            // Header of the layer table that describe the aliases and the types
            tableElement = document.createElement('table');
            tableElement.classList.add('info');
            content.appendChild(tableElement);

            tableRow = document.createElement('tr');
            tableRow.classList.add('info');
            tableElement.appendChild(tableRow);
            tableData = document.createElement('th');
            tableData.classList.add('infoCol1');
            tableRow.appendChild(tableData);
            Object.keys(layerData[0].fieldInfo).forEach((fieldName) => {
              tableData = document.createElement('th');
              tableData.classList.add('info');
              tableData.innerText = fieldName;
              tableRow.appendChild(tableData);
            });

            // Row describing the aliases
            tableRow = document.createElement('tr');
            tableRow.classList.add('info');
            tableElement.appendChild(tableRow);
            tableData = document.createElement('td');
            tableData.classList.add('infoCol1');
            tableData.innerText = 'Aliases =>';
            tableRow.appendChild(tableData);
            Object.keys(layerData[0].fieldInfo).forEach((fieldName) => {
              tableData = document.createElement('td');
              tableData.classList.add('info');
              tableData.innerText = layerData[0].fieldInfo[fieldName].alias;
              tableRow.appendChild(tableData);
            });

            // Row describing the types
            tableRow = document.createElement('tr');
            tableRow.classList.add('infoCol1');
            tableElement.appendChild(tableRow);
            tableData = document.createElement('td');
            tableData.classList.add('infoCol1');
            tableData.innerText = 'Types =>';
            tableRow.appendChild(tableData);
            Object.keys(layerData[0].fieldInfo).forEach((fieldName) => {
              tableData = document.createElement('td');
              tableData.classList.add('info');
              tableData.innerText = layerData[0].fieldInfo[fieldName].dataType;
              tableRow.appendChild(tableData);
            });

            // Header of the data section
            infoH2 = document.createElement('h2');
            infoH2.innerText = 'Data';
            content.appendChild(infoH2);

            tableElement = document.createElement('table');
            tableElement.classList.add('info');
            content.appendChild(tableElement);
            createHeaders = true;

            layerData.forEach((row) => {
            // Header of the data table
            if (createHeaders) {
                tableRow = document.createElement('tr');
                tableRow.classList.add('info');
                tableElement.appendChild(tableRow);

                tableData = document.createElement('th');
                tableData.classList.add('infoCol1');
                tableData.innerText = 'Symbology';
                tableRow.appendChild(tableData);

                tableData = document.createElement('th');
                tableData.classList.add('infoCol1');
                tableData.innerText = 'Zoom To';
                tableRow.appendChild(tableData);

                Object.keys(row.fieldInfo).forEach((fieldName) => {
                  tableData = document.createElement('th');
                  tableData.classList.add('info');
                  tableData.innerText = fieldName;
                  tableRow.appendChild(tableData);
                });
                createHeaders = false;
              }

            // Data row (feature information)
            tableRow = document.createElement('tr');
              tableRow.classList.add('info');
              tableElement.appendChild(tableRow);

              // Feature icon
              tableData = document.createElement('td');
              tableData.classList.add('info');
              tableData.appendChild(row.featureIcon);
              tableRow.appendChild(tableData);

              // Zoom to button
              tableData = document.createElement('td');
              tableData.classList.add('info');
              tableRow.appendChild(tableData);
              tableZoomTo = document.createElement('button');
              tableZoomTo.innerText = 'Zoom To Feature';
              tableZoomTo.addEventListener('click', function (e) {
                cgpv.api.map(mapId).zoomToExtent(row.extent);
                addBoundsPolygon(mapId, row.extent);
              });
              tableData.appendChild(tableZoomTo);

              // feature fields
              Object.keys(row.fieldInfo).forEach((fieldName) => {
                tableData = document.createElement('td');
                tableData.classList.add('info');
                if (row.fieldInfo[fieldName].dataType === 'date') {
                  const dateUtilities = cgpv.api.dateUtilities;
                  // tableData.innerText = dateUtilities.convertToDate(row.fieldInfo[fieldName].value);
                  tableData.innerText = dateUtilities.format(dateUtilities.convertToUTC(row.fieldInfo[fieldName].value), 'day', 'second');
                } else tableData.innerText = row.fieldInfo[fieldName].value;
                tableRow.appendChild(tableData);
              });
            });
          } else {
            content.appendChild(document.createElement('hr'));

          }
        });
      };
    </script>
    <script>
      const createTableOfFilter = (mapId) => {
        var mapButtonsDiv = document.getElementById(`layer${mapId.slice(3)}-buttons-div`);
        var oldTable = document.getElementById(`layer${mapId.slice(3)}-buttons-table`);
        if (oldTable) oldTable.remove();
        var tableElement = document.createElement("table");
        tableElement.id = `layer${mapId.slice(3)}-buttons-table`;
        tableElement.style.width = '100%';
        tableElement.border = '1px solid black';
        mapButtonsDiv.appendChild(tableElement);
        Object.keys(cgpv.api.maps[mapId].layer.geoviewLayers).forEach((geoviewLayerId) => {
          const geoviewLayer = cgpv.api.maps[mapId].layer.geoviewLayers[geoviewLayerId];
          Object.keys(cgpv.api.maps[mapId].layer.registeredLayers).forEach((layerPath) => {
            if (layerPath.startsWith(geoviewLayerId)) {
              const layerConfig = cgpv.api.maps[mapId].layer.registeredLayers[layerPath];
              const { geoviewRenderer } = cgpv.api.maps[mapId];
              geoviewRenderer.getLegendStyles(layerConfig).then((legendStyle) => {

                mapButtonsDiv = document.createElement('td');
                mapButtonsDiv.style.width = '16.66%';
                mapButtonsDiv.border = '1px solid black';
                tableElement.appendChild(mapButtonsDiv);

                const geoviewLayerH1 = document.createElement('h1');
                geoviewLayerH1.innerText = geoviewLayer.geoviewLayerName.en;
                mapButtonsDiv.appendChild(geoviewLayerH1);

                  const layerConfigH2 = document.createElement('h2');
                layerConfigH2.innerText = `${layerConfig.layerName.en}  `;
                layerConfigH2.style.height = '15px';
                mapButtonsDiv.appendChild(layerConfigH2);

                const toggleLayerVisibility = document.createElement('button');
                const visibilityFlag = geoviewLayer.getVisible(layerConfig);
                if (visibilityFlag) toggleLayerVisibility.innerText = 'Hide';
                else toggleLayerVisibility.innerText = 'Show';
                toggleLayerVisibility.addEventListener('click', function (e) {
                  const visibilityFlag = !geoviewLayer.getVisible(layerConfig);
                  if (visibilityFlag) toggleLayerVisibility.innerText = 'Hide';
                  else toggleLayerVisibility.innerText = 'Show';
                  geoviewLayer.setVisible(visibilityFlag, layerConfig);
                });
                layerConfigH2.appendChild(toggleLayerVisibility);

                if (layerConfig.style) {
                  Object.keys(layerConfig.style).forEach((geometry) => {
                    const geometryText = document.createElement("p");
                    geometryText.innerText = `Geometry = ${geometry}`;
                    geometryText.style.height = '15px';
                    mapButtonsDiv.appendChild(geometryText);
                    if (layerConfig.style[geometry].styleType === 'uniqueValue') {
                      if (layerConfig.style[geometry].defaultSettings) {
                        if (layerConfig.style[geometry].defaultVisible === 'always') {
                          const alwaysDefaultLabel = document.createElement("label");
                          alwaysDefaultLabel.innerText =  `Always show `;
                          alwaysDefaultLabel.style.fontSize = '15px';
                          alwaysDefaultLabel.style.height = '15px';
                          mapButtonsDiv.appendChild(alwaysDefaultLabel);
                          mapButtonsDiv.appendChild(legendStyle[geometry].defaultCanvas);
                          const br = document.createElement("br");
                          br.style.height = '1px';
                          mapButtonsDiv.appendChild(br);
                        } else {
                          const toggleUniqueValueDefault = document.createElement("button");
                          if (layerConfig.style[geometry].defaultVisible === 'yes')
                            toggleUniqueValueDefault.innerText = `Hide ${layerConfig.style[geometry].defaultLabel}`;
                          else if (layerConfig.style[geometry].defaultVisible === 'no')
                            toggleUniqueValueDefault.innerText =  `Show ${layerConfig.style[geometry].defaultLabel}`;
                          toggleUniqueValueDefault.addEventListener('click', function (e) {
                            if (layerConfig.style[geometry].defaultVisible === 'yes') {
                              layerConfig.style[geometry].defaultVisible = 'no';
                              toggleUniqueValueDefault.innerText = `Show ${layerConfig.style[geometry].defaultLabel}`;
                            } else if (layerConfig.style[geometry].defaultVisible === 'no') {
                              layerConfig.style[geometry].defaultVisible = 'yes';
                              toggleUniqueValueDefault.innerText = `Hide ${layerConfig.style[geometry].defaultLabel}`;
                            }
                            const checkbox = document.getElementById(`checkbox-${mapId}-${geoviewLayer.geoviewLayerId}`);
                            const filterInput = document.getElementById(`filter-input-${mapId}`);
                            const filter = checkbox.value === 'true' ? filterInput.value : '';
                            geoviewLayer.applyViewFilter(layerConfig, filter);
                          });
                          mapButtonsDiv.appendChild(toggleUniqueValueDefault);
                          const br = document.createElement("br");
                          br.style.height = '1px';
                          mapButtonsDiv.appendChild(br);
                        }
                      }
                      for (let i = 0; i < layerConfig.style[geometry].uniqueValueStyleInfo.length; i++) {
                        if (layerConfig.style[geometry].uniqueValueStyleInfo[i].visible === 'always') {
                          const alwaysEntry = document.createElement("label");
                          alwaysEntry.innerText =  `Always show `;
                          alwaysEntry.style.fontSize = '15px';
                          mapButtonsDiv.appendChild(alwaysEntry);
                          mapButtonsDiv.appendChild(legendStyle[geometry].arrayOfCanvas[i]);

                          const br = document.createElement("br");
                          br.style.height = '1px';
                          mapButtonsDiv.appendChild(br);
                        } else {
                          const toggleUniqueValueFeature = document.createElement("button");
                          if (layerConfig.style[geometry].uniqueValueStyleInfo[i].visible === 'yes')
                            toggleUniqueValueFeature.innerText = `Hide ${layerConfig.style[geometry].uniqueValueStyleInfo[i].label}`;
                          else if (layerConfig.style[geometry].uniqueValueStyleInfo[i].visible === 'no')
                            toggleUniqueValueFeature.innerText = `Show ${layerConfig.style[geometry].uniqueValueStyleInfo[i].label}`;
                          toggleUniqueValueFeature.addEventListener('click', function (e) {
                            const uniqueValueStyleInfoEntry = layerConfig.style[geometry].uniqueValueStyleInfo[i];
                            if (uniqueValueStyleInfoEntry.visible === 'yes') {
                              uniqueValueStyleInfoEntry.visible = 'no';
                              toggleUniqueValueFeature.innerText = `Show ${uniqueValueStyleInfoEntry.label}`;
                            } else if (uniqueValueStyleInfoEntry.visible === 'no') {
                              uniqueValueStyleInfoEntry.visible = 'yes';
                              toggleUniqueValueFeature.innerText = `Hide ${uniqueValueStyleInfoEntry.label}`;
                            }
                            const checkbox = document.getElementById(`checkbox-${mapId}-${geoviewLayer.geoviewLayerId}`);
                            const filterInput = document.getElementById(`filter-input-${mapId}`);
                            const filter = checkbox.value === 'true' ? filterInput.value : '';
                            geoviewLayer.applyViewFilter(layerConfig, filter);
                          });
                          mapButtonsDiv.appendChild(toggleUniqueValueFeature);
                          mapButtonsDiv.appendChild(legendStyle[geometry].arrayOfCanvas[i]);

                          const br = document.createElement("br");
                          br.style.height = '1px';
                          mapButtonsDiv.appendChild(br);
                        }
                      }
                    } else if (layerConfig.style[geometry].styleType === 'classBreaks') {
                      if (layerConfig.style[geometry].defaultSettings) {
                        if (layerConfig.style[geometry].defaultVisible === 'always') {
                          const alwaysDefaultLabel = document.createElement("label");
                          alwaysDefaultLabel.innerText =  `Always show `;
                          alwaysDefaultLabel.style.fontSize = '15px';
                          mapButtonsDiv.appendChild(alwaysDefaultLabel);
                          mapButtonsDiv.appendChild(legendStyle[geometry].defaultCanvas);
                          const br = document.createElement("br");
                          br.style.height = '1px';
                          mapButtonsDiv.appendChild(br);
                        } else {
                          const toggleClassBreakDefault = document.createElement("button");
                          if (layerConfig.style[geometry].defaultVisible === 'yes')
                            toggleClassBreakDefault.innerText = `Hide ${layerConfig.style[geometry].defaultLabel}`;
                          else if (layerConfig.style[geometry].defaultVisible === 'no')
                            toggleClassBreakDefault.innerText = `Show ${layerConfig.style[geometry].defaultLabel}`;
                          toggleClassBreakDefault.addEventListener('click', function (e) {
                          if (layerConfig.style[geometry].defaultVisible === 'yes') {
                            layerConfig.style[geometry].defaultVisible = 'no';
                            toggleClassBreakDefault.innerText = `Show ${layerConfig.style[geometry].defaultLabel}`;
                          } else if (layerConfig.style[geometry].defaultVisible === 'no') {
                            layerConfig.style[geometry].defaultVisible = 'yes';
                            toggleClassBreakDefault.innerText = `Hide ${layerConfig.style[geometry].defaultLabel}`;
                          }
                            const checkbox = document.getElementById(`checkbox-${mapId}-${geoviewLayer.geoviewLayerId}`);
                            const filterInput = document.getElementById(`filter-input-${mapId}`);
                            const filter = checkbox.value === 'true' ? filterInput.value : '';
                            geoviewLayer.applyViewFilter(layerConfig, filter);
                          });
                          mapButtonsDiv.appendChild(toggleClassBreakDefault);
                          const br = document.createElement("br");
                          br.style.height = '1px';
                          mapButtonsDiv.appendChild(br);
                        }
                      }
                      for (let i = 0; i < layerConfig.style[geometry].classBreakStyleInfo.length; i++) {
                        if (layerConfig.style[geometry].classBreakStyleInfo[i].visible === 'always') {
                          const alwaysEntry = document.createElement("label");
                          alwaysEntry.innerText =  `Always show `;
                          alwaysEntry.style.fontSize = '15px';
                          mapButtonsDiv.appendChild(alwaysEntry);
                          mapButtonsDiv.appendChild(legendStyle[geometry].arrayOfCanvas[i]);

                          const br = document.createElement("br");
                          br.style.height = '1px';
                          mapButtonsDiv.appendChild(br);
                        } else {
                          const toggleClassBreakFeature = document.createElement("button");
                          if (layerConfig.style[geometry].classBreakStyleInfo[i].visible === 'yes')
                            toggleClassBreakFeature.innerText = `Hide ${layerConfig.style[geometry].classBreakStyleInfo[i].label}`;
                          else if (layerConfig.style[geometry].classBreakStyleInfo[i].visible === 'no')
                            toggleClassBreakFeature.innerText = `Show ${layerConfig.style[geometry].classBreakStyleInfo[i].label}`;
                          toggleClassBreakFeature.addEventListener('click', function (e) {
                            const classBreakStyleInfoEntry = layerConfig.style[geometry].classBreakStyleInfo[i];
                            if (classBreakStyleInfoEntry.visible === 'yes') {
                              classBreakStyleInfoEntry.visible = 'no';
                              toggleClassBreakFeature.innerText = `Show ${classBreakStyleInfoEntry.label}`;
                            } else if (classBreakStyleInfoEntry.visible === 'no') {
                              classBreakStyleInfoEntry.visible = 'yes';
                              toggleClassBreakFeature.innerText = `Hide ${classBreakStyleInfoEntry.label}`;
                            }
                            const checkbox = document.getElementById(`checkbox-${mapId}-${geoviewLayer.geoviewLayerId}`);
                            const filterInput = document.getElementById(`filter-input-${mapId}`);
                            const filter = checkbox.value === 'true' ? filterInput.value : '';
                            geoviewLayer.applyViewFilter(layerConfig, filter);
                          });
                          mapButtonsDiv.appendChild(toggleClassBreakFeature);
                          mapButtonsDiv.appendChild(legendStyle[geometry].arrayOfCanvas[i]);

                          const br = document.createElement("br");
                          br.style.height = '1px';
                          mapButtonsDiv.appendChild(br);
                        }
                      }
                    }
                    if (geoviewLayer.getLayerFilter) {
                      const layerFilterText = document.createElement("p");
                      layerFilterText.innerText = `Extra filter: `;
                      mapButtonsDiv.appendChild(layerFilterText);
                      const layerFilterInput = document.createElement("input");
                      layerFilterInput.id = `filter-input-${mapId}`;
                      layerFilterInput.style.width = '50%';
                      layerFilterText.appendChild(layerFilterInput);
                      layerFilterInput.value = geoviewLayer.getLayerFilter(layerConfig) || '';
                      const layerFilterButton = document.createElement("button");
                      layerFilterButton.addEventListener('click', function (e) {
                        const checkbox = document.getElementById(`checkbox-${mapId}-${geoviewLayer.geoviewLayerId}`);
                        if (checkbox.value === 'true')
                          geoviewLayer.applyViewFilter(layerConfig, layerFilterInput.value);
                        else {
                          geoviewLayer.setLayerFilter(layerFilterInput.value, layerConfig);
                          geoviewLayer.applyViewFilter(layerConfig);
                        }
                      });
                      layerFilterButton.innerText = 'Apply';
                      layerFilterText.appendChild(layerFilterButton);

                      const checkboxInput = document.createElement("input");
                      checkboxInput.type='checkbox';
                      checkboxInput.value = 'false';
                      checkboxInput.id = `checkbox-${mapId}-${geoviewLayer.geoviewLayerId}`;
                      checkboxInput.addEventListener('click', function (e) {
                        checkboxInput.value =checkboxInput.value === 'true' ? 'false' : 'true';
                        if (checkboxInput.value === 'true')
                          geoviewLayer.applyViewFilter(layerConfig, layerFilterInput.value);
                        else {
                          geoviewLayer.setLayerFilter(layerFilterInput.value, layerConfig);
                          geoviewLayer.applyViewFilter(layerConfig);
                        }
                      });
                      mapButtonsDiv.appendChild(checkboxInput);
                      const checkboxText = document.createElement("label");
                      checkboxText.innerText = `apply only the extra filter`;
                      mapButtonsDiv.appendChild(checkboxText);
                    }
                  });
                }
              });
            }
          });
        });
      }
    </script>
    <script>
      // initialize cgpv and api events, a callback is optional, used if calling api's after the rendering is ready
      cgpv.init(function (mapId) {
        console.log(`api is ready for ${mapId}`);

      if (['LYR1', 'LYR3', 'LYR4', 'LYR5', 'LYR6', 'LYR7', 'LYR8', 'LYR9'].includes(mapId)) createTableOfFilter(mapId);

        if (mapId === 'allMaps') {
          //create snippets
          createCodeSnippet();
          createConfigSnippet();
          cgpv.api.event.emit({ handlerName: 'LYR1/wmsLegendsId', event: cgpv.api.eventNames.GET_LEGENDS.TRIGGER });
          cgpv.api.event.emit({ handlerName: 'LYR3/esriDynamicLegendsId', event: cgpv.api.eventNames.GET_LEGENDS.TRIGGER });
          cgpv.api.event.emit({ handlerName: 'LYR4/esriFeatureLegendsId', event: cgpv.api.eventNames.GET_LEGENDS.TRIGGER });
          cgpv.api.event.emit({ handlerName: 'LYR5/geojsonLegendsId', event: cgpv.api.eventNames.GET_LEGENDS.TRIGGER });
          cgpv.api.event.emit({ handlerName: 'LYR6/wfsLegendsId', event: cgpv.api.eventNames.GET_LEGENDS.TRIGGER });
          cgpv.api.event.emit({ handlerName: 'LYR7/ogcApiLegendsId', event: cgpv.api.eventNames.GET_LEGENDS.TRIGGER });
          cgpv.api.event.emit({ handlerName: 'LYR8/geocoreLegendsId', event: cgpv.api.eventNames.GET_LEGENDS.TRIGGER });
          cgpv.api.event.emit({ handlerName: 'LYR9/geopackageLegendsId', event: cgpv.api.eventNames.GET_LEGENDS.TRIGGER });
        }
      });

      // find the button element by ID
      var addGeoJSONButton = document.getElementById('add-geojson');

      // add an event listener when a button is clicked
      addGeoJSONButton.addEventListener('click', function (e) {
        // adding a geojson layer requires a type of geojson and url
        const layerID = cgpv.api.map('LYR5').layer.addGeoviewLayer(
          {
            geoviewLayerId: 'geoJsonSample',
            geoviewLayerName: {
              en: 'Historical Flood',
              fr: 'Inondation Historique',
            },
            geoviewLayerType: 'GeoJSON',
            listOfLayerEntryConfig: [
              {
                layerId: 'historical_flood_0.geojson',
                layerName: { en: 'Map', fr: 'Carte' },
                source: {
                  dataAccessPath: {
                    en: './geojson/',
                    fr: './geojson/',
                  },
                  featureInfo: {
                    queryable: true,
                    nameField: { en: 'comment_en', fr: 'comment_fr' },
                    outfields: { en: 'comment_en,death_en_1,end_date,death_en_1', fr: 'comment_fr,death_fr_1,end_date,death_en_1' },
                    aliasFields: { en: 'comment_en,death_en_1,end_date,death_en_1', fr: 'comment_fr,death_fr_1,end_date,death_en_1' },
                  },
                },
              },
            ],
          },
          ['en', 'fr']
        );
        document.getElementById('new-layer-id-label').innerText = layerID;
        cgpv.api.event.once(
          cgpv.api.eventNames.LAYER.EVENT_LAYER_ADDED,
            (payload) => {
              createTableOfFilter('LYR5');
            },
            'LYR5/geoJsonSample'
          );

      });

      // find the button element by ID
      var removeGeoJSONButton = document.getElementById('remove-geojson');

      // add an event listener when a button is clicked
      removeGeoJSONButton.addEventListener('click', function (e) {
        // removing a geojson layer using the ID
        const layerPath = document.getElementById('new-layer-id-label').innerText;
        if (layerPath) cgpv.api.map('LYR5').layer.removeLayersUsingPath(layerPath);
        document.getElementById('new-layer-id-label').innerText = '';
        createTableOfFilter('LYR5');

      });

      // WMS ======================================================================================================================
      const featureInfoWmsLayerSet = cgpv.api.createFeatureInfoLayerSet('LYR1', 'wmsResultSetId');
      cgpv.api.event.on(
        cgpv.api.eventNames.GET_FEATURE_INFO.ALL_QUERIES_DONE,
        (payload) => {
          const { layerSetId, resultSets } = payload;
          createInfoTable('LYR1', 'wmsResultSetId', resultSets);
        },
        'LYR1/wmsResultSetId'
      );

      const LegendsWmsLayerSet = cgpv.api.createLegendsLayerSet('LYR1', 'wmsLegendsId');
      cgpv.api.event.on(
        cgpv.api.eventNames.GET_LEGENDS.ALL_LEGENDS_DONE,
        (payload) => {
          const { resultSets } = payload;
          displayLegend('wmsLegendsId', resultSets);
        },
        'LYR1/wmsLegendsId'
      );

      // ESRI Dynamic =============================================================================================================
      const featureInfoEsriDynamicLayerSet = cgpv.api.createFeatureInfoLayerSet('LYR3', 'esriDynamicResultSetId');
      cgpv.api.event.on(
        cgpv.api.eventNames.GET_FEATURE_INFO.ALL_QUERIES_DONE,
        (payload) => {
          const { layerSetId, resultSets } = payload;
          createInfoTable('LYR3', 'esriDynamicResultSetId', resultSets);
        },
        'LYR3/esriDynamicResultSetId'
      );

      const LegendsEsriDynamicLayerSet = cgpv.api.createLegendsLayerSet('LYR3', 'esriDynamicLegendsId');
      cgpv.api.event.on(
        cgpv.api.eventNames.GET_LEGENDS.ALL_LEGENDS_DONE,
        (payload) => {
          const { resultSets } = payload;
          displayLegend('esriDynamicLegendsId', resultSets);
        },
        'LYR3/esriDynamicLegendsId'
      );

      // ESRI Feature =============================================================================================================
      const featureInfoEsriFeatureLayerSet = cgpv.api.createFeatureInfoLayerSet('LYR4', 'esriFeatureResultSetId');
      cgpv.api.event.on(
        cgpv.api.eventNames.GET_FEATURE_INFO.ALL_QUERIES_DONE,
        (payload) => {
          const { layerSetId, resultSets } = payload;
          createInfoTable('LYR4', 'esriFeatureResultSetId', resultSets);
        },
        'LYR4/esriFeatureResultSetId'
      );

      const LegendsEsriFeatureLayerSet = cgpv.api.createLegendsLayerSet('LYR4', 'esriFeatureLegendsId');
      cgpv.api.event.on(
        cgpv.api.eventNames.GET_LEGENDS.ALL_LEGENDS_DONE,
        (payload) => {
          const { resultSets } = payload;
          displayLegend('esriFeatureLegendsId', resultSets);
        },
        'LYR4/esriFeatureLegendsId'
      );

      // GeoJson ==================================================================================================================
      const featureInfoGeoJsonLayerSet = cgpv.api.createFeatureInfoLayerSet('LYR5', 'geoJsonResultSetId');
      cgpv.api.event.on(
        cgpv.api.eventNames.GET_FEATURE_INFO.ALL_QUERIES_DONE,
        (payload) => {
          const { layerSetId, resultSets } = payload;
          createInfoTable('LYR5', 'geoJsonResultSetId', resultSets);
        },
        'LYR5/geoJsonResultSetId'
      );

      const LegendsGeoJsonLayerSet = cgpv.api.createLegendsLayerSet('LYR5', 'geojsonLegendsId');
      cgpv.api.event.on(
        cgpv.api.eventNames.GET_LEGENDS.ALL_LEGENDS_DONE,
        (payload) => {
          const { resultSets } = payload;
          displayLegend('geojsonLegendsId', resultSets);
        },
        'LYR5/geojsonLegendsId'
      );

      // WFS ======================================================================================================================
      const featureInfoWfsLayerSet = cgpv.api.createFeatureInfoLayerSet('LYR6', 'wfsResultSetId');
      cgpv.api.event.on(
        cgpv.api.eventNames.GET_FEATURE_INFO.ALL_QUERIES_DONE,
        (payload) => {
          const { layerSetId, resultSets } = payload;
          createInfoTable('LYR6', 'wfsResultSetId', resultSets);
        },
        'LYR6/wfsResultSetId'
      );

      const LegendsWfsLayerSet = cgpv.api.createLegendsLayerSet('LYR6', 'wfsLegendsId');
      cgpv.api.event.on(
        cgpv.api.eventNames.GET_LEGENDS.ALL_LEGENDS_DONE,
        (payload) => {
          const { resultSets } = payload;
          displayLegend('wfsLegendsId', resultSets);
        },
        'LYR6/wfsLegendsId'
      );

      // OGC Feature API ==========================================================================================================
      const featureInfoOgcFeatureLayerSet = cgpv.api.createFeatureInfoLayerSet('LYR7', 'ogcFeatureResultSetId');
      cgpv.api.event.on(
        cgpv.api.eventNames.GET_FEATURE_INFO.ALL_QUERIES_DONE,
        (payload) => {
          const { layerSetId, resultSets } = payload;
          createInfoTable('LYR7', 'ogcFeatureResultSetId', resultSets);
        },
        'LYR7/ogcFeatureResultSetId'
      );

      const LegendsOgcApiLayerSet = cgpv.api.createLegendsLayerSet('LYR7', 'ogcApiLegendsId');
      cgpv.api.event.on(
        cgpv.api.eventNames.GET_LEGENDS.ALL_LEGENDS_DONE,
        (payload) => {
          const { resultSets } = payload;
          displayLegend('ogcApiLegendsId', resultSets);
        },
        'LYR7/ogcApiLegendsId'
      );

      // GeoCore ==================================================================================================================
      const featureInfoGeocoreFeatureLayerSet = cgpv.api.createFeatureInfoLayerSet('LYR8', 'geocoreResultSetId');
      cgpv.api.event.on(
        cgpv.api.eventNames.GET_FEATURE_INFO.ALL_QUERIES_DONE,
        (payload) => {
          const { layerSetId, resultSets } = payload;
          createInfoTable('LYR8', 'geocoreResultSetId', resultSets);
        },
        'LYR8/geocoreResultSetId'
      );

      const LegendsGeocoreLayerSet = cgpv.api.createLegendsLayerSet('LYR8', 'geocoreLegendsId');
      cgpv.api.event.on(
        cgpv.api.eventNames.GET_LEGENDS.ALL_LEGENDS_DONE,
        (payload) => {
          const { resultSets } = payload;
          displayLegend('geocoreLegendsId', resultSets);
        },
        'LYR8/geocoreLegendsId'
      );

      // GeoPackage =============================================================================================================
      const featureInfoGeopackageLayerSet = cgpv.api.createFeatureInfoLayerSet('LYR9', 'geopackageResultSetId');
      cgpv.api.event.on(
        cgpv.api.eventNames.GET_FEATURE_INFO.ALL_QUERIES_DONE,
        (payload) => {
          const { layerSetId, resultSets } = payload;
          createInfoTable('LYR9', 'geopackageResultSetId', resultSets);
        },
        'LYR9/geopackageResultSetId'
      );

      const LegendsGeopackageLayerSet = cgpv.api.createLegendsLayerSet('LYR9', 'geopackageLegendsId');
      cgpv.api.event.on(
        cgpv.api.eventNames.GET_LEGENDS.ALL_LEGENDS_DONE,
        (payload) => {
          const { resultSets } = payload;
          displayLegend('geopackageLegendsId', resultSets);
        },
        'LYR9/geopackageLegendsId'
      );

      // ==========================================================================================================================
      // Test a refresh WMS from projection change
      var testRefreshBtn = document.getElementsByClassName('test-refresh-WMS-btn')[0];
      testRefreshBtn.addEventListener('click', function (e) {
        cgpv.api.event.emit(cgpv.types.mapViewProjectionPayload(cgpv.api.eventNames.MAP.EVENT_MAP_VIEW_PROJECTION_CHANGE, 'LYR1', 3978));
      });

      // ========================================================================================================================
      // DATA GRID create new tab with a layer's table using the data-grid api, do the same thing in custom div
      let isOpenLYR4 = false;
      document.getElementById('LYR4grid-button').addEventListener('click', () => {
        if (!isOpenLYR4)
          cgpv.reactDOM.render(
            cgpv.api.map('LYR4').dataGrid.createDataGrid({ layerId: 'esriFeatureLYR4' }),
            document.getElementById('LYR4grid')
          );
        isOpenLYR4 = !isOpenLYR4;
      });
    </script>
  </body>
</html>
